@import "variables";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/utilities";

.wrap {
  max-width: 1440px;
  margin: 0 auto;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 25px;
  font-weight: 500;
  font-family: Montserrat, sans-serif;
  line-height: 1.4;
  @include media-breakpoint-down(lg) {
    font-size: 20px;
  }
  @include media-breakpoint-down(md) {
    font-size: 16px;
  }
}

html, body {
  scroll-behavior: smooth;
}

.container {
  max-width: 1030px;
  margin: 0 auto;
  @include media-breakpoint-up(xl) {
    padding: 0;
  }
  &-fluid {
    padding: 0 60px;
    @include media-breakpoint-down(md) {
      padding: 0 30px;
    }
    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }
}

.logo {
  max-width: 30%;
}

br {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

$fontSizes: (16, 18, 20, 60);
$fontWeights: (300, 500, 700);

@each $key in $fontSizes {
  .fz#{$key} {
    font-size: #{$key}px !important;
  }
}
@each $key in $fontWeights {
  .fw-#{$key} {
    font-weight: $key !important;
  }
}

.text-muted {
  color: rgba(34, 43, 69, 0.7) !important;
}

.text-underline {
  text-decoration: underline !important;
}

.start-line {
  background: #081846;
  padding: 10px 0;
  margin-bottom: 45px;
  font-weight: 500;
  @include media-breakpoint-down(lg) {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.h1, .h2, .h3 {
  font-size: 40px;
  line-height: 50px;
  font-family: Oswald, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  @include media-breakpoint-down(lg) {
    font-size: 30px;
    line-height: 1.4;
  }
  @include media-breakpoint-down(md) {
    font-size: 25px;
  }
}

.h2 {
  text-align: center;
  margin-bottom: 30px;
}

.h3 {
  font-size: 30px;
  line-height: 40px;
  @include media-breakpoint-down(lg) {
    font-size: 25px;
    line-height: 1.4;
  }
  @include media-breakpoint-down(md) {
    font-size: 20px;
  }
}
.dm-text {
  @include media-breakpoint-down(md) {
    padding-left: 40px;
  }
}

.header {
  min-height: 730px;
  background: url(../images/header-bg.png) no-repeat center center / cover;
  padding-bottom: 140px;
  @include media-breakpoint-down(lg) {
    padding-bottom: 100px;
    min-height: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.h1 {
  max-width: 980px;
  color: #ffffff;
}

.invert {
  display: inline-block;
  background: #ffffff;
  color: $headings-color;
  padding: 0 5px;
}

.fs0 {
  flex-shrink: 0;
}

.line {
  position: absolute;
  width: 30px;
  height: 0;
  border: 2px solid $headings-color;
  top: 25px;
  left: -40px;
}

article {
  p {
    + p {
      margin-top: 30px;
      @include media-breakpoint-down(md) {
        margin-top: 20px;
      }
    }
  }
}

.bg-light-blue {
  background: #EFF2FE !important;
}

.section {
  padding-top: 40px;
  padding-bottom: 60px;
}

.stats {
  display: flex;
  justify-content: center;
  @include media-breakpoint-down(sm) {
    flex-wrap: wrap;
  }
  div {
    text-align: center;
    position: relative;
    white-space: nowrap;
    font-weight: 300;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    padding: 0 15px;
    &:not(:last-child) {
      &:after {
        height: 100%;
        width: 2px;
        background: $primary;
        content: '';
        position: absolute;
        top: 0;
        right: 1px;
      }
    }
    @include media-breakpoint-down(sm) {
      margin: 10px 0;
      &:nth-child(2) {
        &:after {
          display: none;
        }
      }
    }
  }
}

.under {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-gap: 30px;
  img {
    max-width: 100%;
  }
}

.c-col {
  padding: 0 15px;
}

.form {
  &-section {
    background: url(../images/form-bg.png) no-repeat center center / cover;
  }
  &-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-gap: 55px;
  }
}

.button {
  height: 60px;
  display: flex;
  flex-direction: column;
  background: $primary;
  border-radius: 90px;
  border: none;
  border-bottom: 2px solid #066BB4;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff !important;
  justify-content: center;
  text-transform: uppercase;
  line-height: 1;
  padding: 0 40px;
  cursor: pointer;
  text-decoration: none !important;
  text-align: center;
  transition: all .3s ease-in-out;
  &.short {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  &.med {
    max-width: 590px;
    margin-left: auto;
    margin-right: auto;
  }
  &:hover {
    background: darken($primary, 10%);
  }
}

.input {
  border: none;
  background: #FFFFFF;
  line-height: 60px;
  padding: 0 20px;
  font-size: 18px;
  display: block;
  width: 100%;
}

.dot-list {
  list-style-type: none;
  li {
    position: relative;
    padding-left: 20px;
    &:before {
      width: 8px;
      height: 8px;
      background: $primary;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      content: '';
      position: absolute;
      top: 12px;
      left: 0;
    }
    + li {
      margin-top: 10px;
    }
  }
}

.white-block {
  background: #FFFFFF;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
}


.relation-wrap {
  position: relative;
  margin-bottom: 20px;
}
.relation {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.relation-size {
  padding-top: 56.25%;
}

.relation iframe {
  width: 100%;
  height: 100%;
}

.mb-8 {
  margin-bottom: 80px;
  @include media-breakpoint-down(md) {
    margin-bottom: 40px;
  }
}

.bordered {
  border: 2px solid #B8C4E9;
  padding: 40px 20px 30px;
  position: relative;
  &-title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, calc(-50% - 3px));
    display: inline-block;
    background: #ffffff;
    padding: 3px 10px;
    font-weight: 700;
  }
}

.rich {
  @include media-breakpoint-down(md) {
    max-width: 100%;
    min-width: 200px;
  }
}

.flex-box {
  display: flex;
  flex-direction: column;
}

.cost {
  &-item {
    height: 287px;
    background: #FFFFFF;
    box-shadow: 0 4px 11px -1px rgba(0, 0, 0, 0.1);
    @extend .flex-box;
    padding: 25px;
    text-align: center;
    margin-bottom: 40px;
    &-top {
      border-bottom: 1px solid #BFC5DE;
      flex: 0 0 140px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &-bot {
      flex: 1;
      @extend .flex-box;
      justify-content: center;
    }
  }
}


.text-light {
  color: #878FAD !important;
  font-size: 18px;
}

.total {
  background: #FFFFFF;
  box-shadow: 0 4px 11px -1px rgba(0, 0, 0, 0.1);
  display: inline-block;
  padding: 23px 40px;
}

.with-bg {
  background: url(../images/with-bg.png) no-repeat center center / cover;
}

.graph {
  background: #ffffff;
  max-width: 620px;
  padding: 10px 15px 40px;
}

.mind {
  height: 100%;
  @extend .flex-box;
  &-head {
    color: #ffffff;
    padding: 15px;
    background: #222B45;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
  }
  &-body {
    flex: 1;
    background: #ffffff;
    padding: 20px;
  }
}

.quote {
  padding: 50px 20px 40px;
  background: #ffffff;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  position: relative;
  margin-bottom: 70px;
  margin-top: 10px;
  &:before {
    content: '';
    position: absolute;
    width: 73px;
    height: 57px;
    background: url(../images/quot.png) no-repeat center center / contain;
    top: -30px;
    left: 50px;
  }
  &:after {
    content: '';
    position: absolute;
    width: 66px;
    height: 58px;
    background: url(../images/ang.png) no-repeat top center / contain;
    bottom: -58px;
    left: 50px;
  }
  &.no-q {
    &:before {
      display: none;
    }
  }
}

.mb-10 {
  margin-bottom: 100px;
  @include media-breakpoint-down(md) {
    margin-bottom: 50px;
  }
}

.slide-hr {
  width: 118px;
  border-color: #B0BAE0;
  margin: 15px auto 20px;
}
.slide {
  text-align: center;
}

.slide-sing {
  color: #A5ABC1;
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
}

.actions {
  img {
    cursor: pointer;
  }
}

.ps {
  font-size: 100px;
  color: $primary;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Oswald, sans-serif;
}

.footer {
  &-text {
    color: #91939E;
  }
  @include media-breakpoint-down(sm) {
    overflow: hidden;
  }
}

.bg-black {
  background: #000000;
}

.dev {
  @include media-breakpoint-down(lg) {
    max-width: 400px;
  }
  @include media-breakpoint-down(md) {
    max-width: none;
    width: 100%;
    margin-bottom: 30px;
  }
  &.phones {
    @include media-breakpoint-down(md) {
      max-width: 300px;
    }
  }
}

.px-15 {
  @include media-breakpoint-down(sm) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

